<html>
  <head>
  	<style>
  	</style>


  </head>
  <body>
  <form>
  	<input type="text" placeholder ="enter a string to encode" name="string"/>
    <input type="text" placeholder ="enter the shift number" name="shift"/>
  	<input type ="submit" value ="Send" />
  </form>
  
    <p>
    <% if result %>
      <% result %>
      <%end%>

    </p>
  </body>
</html>